.chatPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .wrapper {
        flex: 1;
        overflow: scroll;
        scrollbar-width: thin;
        scrollbar-color: #888 #2c2937; 
        width: 100%;
        display: flex;
        justify-content: center;

        .chat {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            p,li {
                margin: 10px 0px;
            }

            .message {
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;

                &.user {
                    background-color: #2c2937;
                    border-radius: 20px;
                    max-width: 80%;
                    align-self: flex-end;
                }

                .icon {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
            }
            .newForm {
                margin-bottom: 20px;
            }
        }
    }
}